## Filter the Accidents in Georgia

In [5]:
import pandas as pd
import json

In [6]:
def load_data_pd(path):
    # read data using pandas
    # df = pd.read_csv(path, nrows=1000)
    df = pd.read_csv(path)
    print(df['State'].unique())

    return df.loc[df['State'] == 'GA']

In [7]:
df = load_data_pd("dataset/US_Accidents_March23.csv")
display(df)

['OH' 'WV' 'CA' 'FL' 'GA' 'SC' 'NE' 'IA' 'IL' 'MO' 'WI' 'IN' 'MI' 'NJ'
 'NY' 'CT' 'MA' 'RI' 'NH' 'PA' 'KY' 'MD' 'VA' 'DC' 'DE' 'TX' 'WA' 'OR'
 'AL' 'NC' 'AZ' 'TN' 'LA' 'MN' 'CO' 'OK' 'NV' 'UT' 'KS' 'NM' 'AR' 'MS'
 'ME' 'VT' 'WY' 'ID' 'ND' 'MT' 'SD']

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
146255,A-146262,Source2,3,2016-11-30 15:13:44,2016-11-30 17:26:28,33.546177,-84.577347,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
146256,A-146263,Source2,3,2016-11-30 15:25:27,2016-11-30 16:54:36,33.766376,-84.527321,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
146257,A-146264,Source2,3,2016-11-30 14:42:27,2016-11-30 16:57:07,33.786896,-84.493134,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
146258,A-146265,Source2,2,2016-11-30 16:27:58,2016-11-30 16:57:41,33.697849,-84.418266,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
146259,A-146266,Source2,3,2016-11-30 16:14:20,2016-11-30 16:58:59,33.696915,-84.404984,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728067,A-7777435,Source1,2,2019-08-23 20:43:54,2019-08-23 21:13:18,33.920200,-84.320150,33.920190,-84.314810,0.306,...,False,False,False,False,False,False,Night,Night,Day,Day
7728068,A-7777436,Source1,2,2019-08-23 19:08:30,2019-08-23 19:38:27,33.803530,-84.249600,33.807860,-84.250560,0.304,...,False,False,False,False,True,False,Day,Day,Day,Day
7728069,A-7777437,Source1,2,2019-08-23 19:08:30,2019-08-23 19:38:27,33.803350,-84.249240,33.803530,-84.249600,0.024,...,False,False,False,False,True,False,Day,Day,Day,Day
7728070,A-7777438,Source1,2,2019-08-23 20:29:30,2019-08-23 20:58:22,33.895722,-84.252706,33.899059,-84.247252,0.389,...,False,False,False,False,False,False,Night,Day,Day,Day
7728073,A-7777441,Source1,3,2019-08-23 21:40:06,2019-08-23 22:06:09,32.882500,-83.771860,32.875950,-83.764740,0.613,...,False,False,False,False,False,False,Night,Night,Night,Night

In [8]:
df.to_csv("dataset/GA_Accidents_March23.csv", index=False)

## Create a Joint JSON File of Edges and Accidents

In [ ]:
# save nodes to a json file
df = pd.read_csv("osm/nodes.csv")
# print(df)
# df.to_json("osm/nodes.json", orient='')
id_list = df['id'].tolist()
ln_list = df['lon'].tolist()
la_list = df['lat'].tolist()
print(len(id_list), len(ln_list), len(la_list))

In [ ]:
print(df['id'][0])
data = {}

for id, lon, lat in zip(id_list, ln_list, la_list):
    data[id] = {'lon': lon, 'lat': lat}

with open("osm/nodes.json", "w") as json_file:
    json.dump(data, json_file, indent=4)

In [ ]:
# read edges file
df_edg = pd.read_csv("osm/edges.csv")

id_list = df_edg['id'].tolist()
src_list = df_edg['source'].tolist()
tar_list = df_edg['target'].tolist()

# read nodes file
with open ("osm/nodes.json", "r") as f:
    nodes = json.load(f)

In [ ]:
data = {}
for id, src, tar in zip(id_list, src_list, tar_list):
    edge = {}
    x1, y1 = float(nodes[str(src)]['lon']), float(nodes[str(src)]['lat'])
    x2, y2 = float(nodes[str(tar)]['lon']), float(nodes[str(tar)]['lat'])
    edge['src'] = (x1, y1)
    edge['tar'] = (x2, y2)
    # slope and intercept
    # a, b, c = calculate_line_parameters(x1, y1, x2, y2)
    # edge['line'] = (a, b, c)
    edge['acc'] = []
    data[id] = edge

with open("osm/edges.json", "w") as f:
    json.dump(data, f, indent=4)